@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Tourney&display=swap');

body {

background-image: url(img/fondo1.png);
font-family: 'Cardo', serif;
}

h1 {

    color: rgb(0, 247, 235);
    font-family: 'Tourney', sans-serif;
    padding-bottom: 1;
}

div {
    width: 800px;
    margin: 0 auto ; 
    max-width: 95%;
}



nav {
    margin-top: -10%;
    padding-bottom: 100px;
    text-align: center;
    background-color: rgba(46, 43, 43, 0);
}


article {
    background-color: rgba(255, 253, 251, 0.918);
     margin-left: auto;
     margin-right: auto;
}

footer{
    color: rgb(0, 0, 0);
    background-color: rgba(105, 104, 104, 0.658);
    height: 55px;
    text-align: center;
    padding-top: 0.3px;
}

.logo {
    width: 100%;
    height: 250px;
}
.destaca-negro {
    color: black;
    
}

.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.adaptable {
    
    width: 100%;
    height: auto;
}

nav li{
    margin-top: 0%;
    width: 200px;
    padding-top: 125px;
    display: inline-block;
}

.titulo {
    background-color: rgba(0, 0, 0, 0.945);
    height: 40px;
    text-align: center;
}

nav a {
    background-color: darkgray;
    color: rgb(0, 0, 0);
    padding: 15px;
    
    
}
 

nav a:hover {
    background-color: orangered;
    color: gray;
}
article p {
    margin-left: 5px;
}
article h3 {
    margin-left: 5px;
}



html {
    scroll-behavior: smooth;
}